<div class="page">

	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
          			<a ui-sref="efinding.dashboard.generic"> {{main.title}}</a>
        		</li>
				<li>
					<a href="javascript:;">Usuarios</a>
				</li>
				<li>
					<a ui-sref="app.playStation.reports">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">
				<!-- /tile -->
				<section class="tile" fullscreen="isFullscreen06">
					<!-- tile body -->
					<div class="tile-body">

						<div class="container w-420 p-20 bg-blue-ps-3 mt-40 text-center br-25" style="background-color: #FDE0C0">
							<h2 class="text-light text-black">{{page.title}}</h2>

							<h4 class="text-black">Ingresa los siguientes datos:</h4>

							<h3 class="text-light text-red" ng-show="page.msg.show"> {{page.msg.text}}</h3>
							<div class="col-md-12">
								<form class="form-horizontal form-validation" name="form" novalidate>
									<div class="form-group">
										<input type="password" class="form-control rounded" placeholder="Clave actual" ng-model="user.pass.passOld" ng-change="removeMsg()" required>
									</div>

									<div class="form-group">
										<input type="password" class="form-control rounded" placeholder="Nueva contraseña..." ng-model="user.pass.pass1" ng-change="removeMsg()" required>
									</div>

									<div class="form-group">
										<input type="password" class="form-control rounded" placeholder="Repita nueva contraseña..." ng-model="user.pass.pass2" ng-change="removeMsg()" required>
									</div>
									<div class="form-group text-center mt-20">
										<button type="submit" class="btn btn-green-ps b-0 br-20 mr-5 text-md pl-20 pr-20" ng-click="changePassword()" ng-disabled='form.$invalid || page.sendBtn.disabled'>Cambiar Contraseña</button>
									</div>
									<!--div class="form-group" ng-repeat="formGroup in page.formGroups.invite">
										<div class="col-sm-12">
											<input class="form-control rounded" type="email" placeholder="Email de usuario..." ng-model="formGroup.email" ng-change="validateMailAndRol({{formGroup.index}})" required>
											<div style="display: inline-block">
												<label class="checkbox checkbox-custom-alt text-black" style="display: inline-block; padding-right: 7px" ng-repeat="role in roles"> <input type="radio" value="{{role.id}}" name="{{formGroup.index}}" ng-model="formGroup.roleId" ng-change="validateMailAndRol({{formGroup.index}})" required><i></i> {{role.name}} </label>
											</div>
										</div>
									</div>
									<div class="col-md-11" >
										<button class="btn btn-green-ps br-20 text-md pl-20 pr-20" type="submit" ng-disabled="form.$invalid" ng-click="sendInvitations({success: true,detail: 'OK'})">Enviar</button>	
									</div-->				
								</form>
							</div>
						</div>

					</div>
					<!-- /tile body -->

				</section>
			</div>
			<!-- /col -->
		</div>
		<!-- /row -->
	</div>
	<!-- /page content -->

	

</div>
