<style type="text/css">
    .center-block {
    width:250px;
    padding:10px;
    color:#3f5b71
    }
</style>

<div class="page page-core page-login">

  <div class="container">
    <div class="row">
      <div class="center-block">
        <img class="size-80x80" style="float: left;" src="images/echeckit-logo.png">
        <h3 class="text-bold text-white" style="margin-left: 100px;" >eCheckit Admin
      </div>
    </div>
  </div>

  <div class="container w-420 p-20 bg-blue-ps bright mt-40 text-center br-25">


    <h2 class="text-light text-black">Iniciar Sesión</h2>

    <h3 class="text-light text-red" ng-show="elements.msg.show"><fa name="times"></fa> {{elements.msg.text}}</h3>

    <form name="form" class="form-validation mt-20" novalidate>

      <div class="form-group">
        <input type="text" class="form-control rounded" placeholder="Email de usuario" ng-model="page.user.username" ng-change="removeMsg()" required>
      </div>

      <div class="form-group">
        <input type="password" placeholder="Contraseña" class="form-control rounded" ng-model="page.user.password" ng-change="removeMsg()" required>
      </div>

      <div class="form-group text-left mt-20">
        <button type="submit" class="btn bg-blue-ps b-0 br-20 mr-5 text-md pl-20 pr-20" ng-click="login()" ng-disabled='form.$invalid'>Login</button>
        <a ui-sref="forgotpass" class="pull-right mt-10" style="color:#3f5b71">Recuperar contraseña</a>
      </div>

    </form>

  </div>

</div>
