<div class="page">

	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="{{main.url}}"> {{main.title}}</a>
				</li>
				<li>
					<a href="javascript:;">Maestros</a>
				</li>
				<li>
					<a ui-sref="app.playStation.reports">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">


				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen06">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"></h1>
						<ul class="controls">
							<li class="dropdown" dropdown on-toggle="toggled(open)">

								<a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

								<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
									<li>
										<a href tile-control-toggle>
											<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
											<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
										</a>
									</li>
									<li>
										<a href ng-click="getReports()">
											<fa name="refresh"></fa> Refrescar
										</a>
									</li>
									<li>
										<a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
											<fa name="expand"></fa> Pantalla completa
										</a>
									</li>

								</ul>

							</li>
							<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body">

						<table ng-table="tableParams" show-filter="true" class="table table-custom">
							<tr ng-repeat="load in $data">
								<td data-title="'Fecha carga'" sortable="'createdAt'" filter="{ 'createdAt': 'text' }">
									{{load.createdAt | date:'dd/MM/yyyy hh:mm'}}
								</td>
								<td data-title="'Tipo de carga'" sortable="'uploadedResourceType'" filter="{ 'uploadedResourceType': 'text' }">
									{{load.uploadedResourceType}}
								</td>
								<td data-title="'Usuario'" sortable="'user_name'" filter="{ 'user_name': 'text' }">
									{{load.user_name | capitalize:true}}
								</td>
								<td class="text-center"  data-title="'Archivo cargado'" sortable="'load.uploadedFileUrl'">
									<a ng-href="{{load.uploadedFileUrl}}" target="_blank" uib-tooltip="Descargar archivo" rel="noopener noreferrer" download="file.csv"><i class="text-blue-repo-2 fa fa-cloud-download"></i></a>
								</td>
								<td  class="text-center" data-title="'Archivo resultado'" sortable="'load.resultFileUrl'">
									<a ng-href="{{load.resultFileUrl}}" target="_blank" uib-tooltip="Descargar archivo" rel="noopener noreferrer" download="file.csv"><i class="text-cyan-1-generic fa fa-cloud-download"></i></a>
								</td>
							</tr>
						</table>

					</div>
					<!-- /tile body -->

				</section>
				<!-- /tile -->

			</div>
			<!-- /col -->


		</div>
		<!-- /row -->


	</div>
	<!-- /page content -->
</div>
