<style type="text/css">
	#googlemaps { 
	  height: 100%; 
	  width: 100%; 
	  position:absolute; 
	  top: 0; 
	  left: 0; 
	  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
	}

	#dashboard { 
	  position: relative; 
	  z-index: 1; /* The z-index should be higher than Google Maps */
	  width: 100%;
	  height: 100%;
	  padding: 10px;
	  background: black;
	  opacity: .45; /* Set the opacity for a slightly transparent Google Form */ 
	  color: white;
	}

	.carousel-indicators li { visibility: hidden; }
	.carousel-control { visibility: hidden; }
</style>

<div class="page" style="padding: 20px 20px 0px 20px;">
	<ng-map id="googlemaps" 
		center="{{map.center.latitude}}, {{map.center.longitude}}" 
		zoom="{{map.zoom}}"
	    disable-default-u-i="true"
	    disable-double-click-zoom="true"
	    draggable="false"
	    keyboard-shortcuts="false"
	    tilt="45">
	    <custom-marker ng-repeat="report in Mresueltos" 
                        id="{{report.id}}" 
                        position="{{report.position}}" >
            <div>
                <img src="https://s3-sa-east-1.amazonaws.com/efinding/icons/marker-green.png" />
            </div>
        </custom-marker>
        <custom-marker ng-repeat="report in Mrecibidos" 
                        id="{{report.id}}" 
                        position="{{report.position}}" >
            <div>
                <img src="https://s3-sa-east-1.amazonaws.com/efinding/icons/marker-yellow.png" />
            </div>
        </custom-marker>
	</ng-map>
	<div class="row">
		<div class="col-md-2">
			<img src="https://s3-sa-east-1.amazonaws.com/efinding/icons/logoIDD.png" style="height: 150px; width: 150px;">
		</div>
		<div class="col-md-3 col-md-offset-7">
			<br>
			<div class="row">
				<div class="col-md-12">
					<div class="input-group text-center" style="width: 100%;">
					  	<input style= "font-size: 200%; background-color: #025D91; border-color: #025D91; color: white; border-radius: 30px; height: 50px;" type="text" class="form-control text-center" value="Reclamos del mes"/>
					</div>
				</div>
			</div>
			<br>

			<div class="row">
				<div class="col-md-6">
					<section class="tile" style="background-color: #FFC803">
		          		<div class="tile-body">
		            		<div class="row">
		              			<div class="col-md-12">
		              				<div class="tile-body text-center" style="padding: 5px;">
						           		<h1 class="m-0" style="font-size: 400%; color:white"><b>{{recibidos}}</b></h1>
							        	<span class="text" style="font-size: 150%; color:white"><b>Recibidos</b></span>
						          	</div>
		              			</div>
		            		</div>
		          		</div>
		        	</section>
				</div>
				<div class="col-md-6">
					<section class="tile" style="background-color: #00CE5F">
		          		<div class="tile-body">
		            		<div class="row">
		              			<div class="col-md-12">
		              				<div class="tile-body text-center" style="padding: 5px;">
						           		<h1 class="m-0" style="font-size: 400%; color:white"><b>{{resueltos}}</b></h1>
							        	<span class="text" style="font-size: 150%; color:white"><b>Resueltos</b></span>
						          	</div>
		              			</div>
		              		</div>
		          		</div>
		        	</section>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<section class="tile">
			          	<div class="tile-header dvd dvd-btm text-center">
			            	<h1 class="custom-font" style= "font-size: 200%;" ><img src="https://s3-sa-east-1.amazonaws.com/efinding/icons/tuvoz.png"><strong style="color: #025D91;">TU VOZ IMPORTA</strong></h1>
			          	</div>
			          	<div class="tile-body">
			          		<div class="text-center">
			          			<span class="text-center" style="font-size: 180%; color: #025D91">
			          			<b>{{nombre.usuario}}</b>
			          		</span>
			          		</div>
			          		<hr>
						    <div>
						    	<span class="text" style="font-size: 155%; color: #025D91"><b>Antes</b></span>
       							<img before images="before" ng-init="load()" style=" width: 100%; height: 240px"/>
  							</div>
  							<br>
  							<div>
  								<span class="text" style="font-size: 155%; color: #025D91"><b>Despues</b></span>
       							<img after images="after" ng-init="updateTime()" style=" width: 100%; height: 240px"/>
  							</div>
			           	</div>
			        </section>
			    </div>
			</div>
		</div>
	</div>
</div>