<div class="page">

	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="{{main.url}}"> {{main.title}}</a>
				</li>
				<li>
					<a href="javascript:;">Maestros</a>
				</li>
				<li>
					<a ui-sref="app.playStation.reports">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">


				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen06">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"></h1>
						<ul class="controls">
							<li class="dropdown" dropdown on-toggle="toggled(open)">

								<a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

								<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
									<li>
										<a href tile-control-toggle>
											<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
											<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
										</a>
									</li>
									<li>
										<a href ng-click="getReports()">
											<fa name="refresh"></fa> Refrescar
										</a>
									</li>
									<li>
										<a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
											<fa name="expand"></fa> Pantalla completa
										</a>
									</li>

								</ul>

							</li>
							<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body">

						<button class="btn btn-default" ng-click="openModalNewCategory()">Nueva</button>
						<button class="bg-cyan-1-generic pt-7 pb-7 pr-12 pl-12 br-15 b-0 text-white ml-20 mb-10" ng-click="openModalLoad()" uib-tooltip="Cargar categorías"><i class="fa fa-cloud-upload"></i> </button>

						<table ng-table="tableParams" show-filter="true" class="table table-custom" ng-show="show.categories">
							<tr ng-repeat="location in $data">
								<td data-title="'Tipo'" sortable="'name'" filter="{ 'name': 'text' }">
									{{location.name}}
								</td>
								<td data-title="'Info'">
									<img ng-click="openModalCategoriesDetails(location.id)" src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/info.png" style="width:24px; cursor:pointer" tooltip="Más info">
								</td>
							</tr>

						</table>
						<h3 class="text-gray-ps-2 text-center" ng-show="!show.categories">No se encontraron datos</h3>

					</div>
					<!-- /tile body -->

				</section>
				<!-- /tile -->

			</div>
			<!-- /col -->


		</div>
		<!-- /row -->


	</div>
	<!-- /page content -->

	<script type="text/ng-template" id="categoriesDetails.html">
		<div class="modal-header text-gray">
			<h3 class="text-center">{{elements.title}}</h3>
		</div>
		<div class="modal-body text-gray">
			<div class="alert alert-{{elements.alert.color}}" ng-show="elements.alert.show"> <h4 class="text-md"><strong>{{elements.alert.title}}</strong></h4> {{elements.alert.text}} </div>
			<div class="row">
				<div class="col-md-12">
					<form name="form" class="form-validation form-horizontal" role="form" novalidate>
						<div class="form-group">
							<label for="categoryType" class="col-sm-3 control-label">Tipo</label>
							<div class="col-md-8">
								<input type="text" id="categoryType" class="form-control underline-input" placeholder="Nombre de categoria..." ng-model="category.type.text" ng-change="hideAlert()" required>
							</div>
						</div>
     				</form>
  				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger btn-rounded-10 {{elements.buttons.removeUser.border}} mb-10" type="button" ng-click="removeCat(category.id)" >{{elements.buttons.removeUser.text}}</button>
			<button class="btn btn-warning btn-rounded-10 {{elements.buttons.editUser.border}} mb-10" type="button" ng-click="editCat(category.id)" >{{elements.buttons.editUser.text}}</button>
			<button class="btn btn-cancelRecit btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
</script>

<script type="text/ng-template" id="newCategory.html">

		<div class="modal-header text-gray">
			<div class="alert alert-{{elements.alert.color}}" ng-show="elements.alert.show"> <h4 class="text-md"><strong>{{elements.alert.title}}</strong></h4> {{elements.alert.text}} </div>
      		<h3 class="text-center">Nueva categoría</h3>
    	</div>

    <div class="modal-body text-gray">
     
     	<!-- <div class="row">
        <div class="col-md-12">
        	<h4 class="text-center">Carga masiva (csv)</h4>
					<input type="file" class="form-control rounded" file-model="modal.csvFile">
        </div>
      </div>
	
			<hr> -->
      
      <div class="row">
        <div class="col-md-12">
        	<h4 class="text-center">Carga manual</h4>
        	<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>

          <form name="form" class="form-validation form-horizontal" role="form" novalidate>
            
            <div class="form-group">
              <label for="type" class="col-sm-3 control-label">Tipo</label>
              <div class="col-md-8">
                <input type="text" id="type" class="form-control underline-input" placeholder="Tipo de categoria..." ng-model="modal.category.type.text" ng-change="hideAlert()" required>
              </div>
            </div>
              
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
    	<button class="btn btn-success br-20 pl-20 pr-20" type="submit" ng-click="saveCategory()">Cargar/Guardar</button>
      <button class="btn btn-default br-20 pl-20 pr-20" type="button" ng-click="cancel()" >Cerrar</button>
    </div>
  </script>
<!-- Cargar Categorias -->
<script type="text/ng-template" id="loadCategories.html">

	<div class="modal-header text-gray">
		<h3 class="text-center">Cargar categorías</h3>
	</div>

	<div class="modal-body text-gray">

		<div class="row">
			<div class="col-md-12">
				<h4 class="text-center">Carga masiva por csv</h4>

				<form name="form" class="form-validation form-horizontal" role="form" novalidate>
					<div class="form-group">
						<div class="col-md-12">
							<input type="file" class="form-control rounded" file-model="modal.csvFile" ng-model="modal.csvFile" accept=".xls,.xlsx,.csv,.txt" required>
						</div>
					</div>
				</form>

			</div>
		</div>

		<!-- <hr> -->
	</div>
	<div class="modal-footer">
		<button class="btn btn-success br-20 pl-20 pr-20" type="submit" ng-disabled="form.$invalid || modal.buttons.load.disabled" ng-click="loadCategories()">{{modal.buttons.load.text}}</button>
		<button class="btn btn-default br-20 pl-20 pr-20" type="button" ng-click="cancel()" >Cerrar</button>
	</div>
</script>
<!-- /Cargar Categorias -->
<!-- Resumen carga -->
<script type="text/ng-template" id="summaryLoad.html">
	<div class="modal-header text-gray">
		<h3 class="text-center">{{modal.title.text}} {{modal.subtitle.text}}</h3>
	</div>
	<div class="modal-body text-gray">

		<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>

		<div class="row">
			<div class="col-md-12">

				<h4 class="text-center text-success">Éxitos: <b> {{modal.successes.count}}</b></h4>
				<ul class="">
					<li class="" ng-repeat="success in modal.successes.data">{{success.name}} ({{success.state}})</li>
				</ul>
				<hr>

				<h4 class="text-center text-danger">Errores: <b>{{modal.errors.count}}</b></h4>
<!-- 					<table class="table table-hover" ng-show="modal.errors.data.length">
						<thead>
							<tr>
								<th>Fila</th>
								<th>Campo</th>
								<th>Descripción</th>
							</tr>
						</thead>
						<tbody ng-repeat="error in modal.errors.data">
							<tr>
								<td>{{error.rowNumber}}</td>
								<td ng-if="error.fields[0].name">{{error.fields[0].name}}</td>
								<td ng-if="error.fields[0].detail">{{error.fields[0].detail}}</td>
								
								<td ng-if="!error.fields[0].name">{{error.fields[1].name}}</td>
								<td ng-if="!error.fields[0].detail">{{error.fields[1].detail}}</td>
							</tr>
						</tbody>
					</table> -->
				</div>
			</div>
		</div>
		<div class="modal-footer">

			<button class="btn btn-default btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>
	</script>
	<!-- /Resumen carga -->

</div>
