<div class="page">

	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span></span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="{{main.url}}"> {{main.title}}</a>
				</li>
				<li>
					<a href="javascript:;">Maestros</a>
				</li>
				<li>
					<a ui-sref="app.playStation.reports">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">

			<!-- col -->
			<div class="col-md-12">


				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen06">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"></h1>
						<ul class="controls">
							<li class="dropdown" dropdown on-toggle="toggled(open)">

								<a href dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

								<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
									<li>
										<a href tile-control-toggle>
											<span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimizar</span>
											<span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Maximizar</span>
										</a>
									</li>
									<li>
										<a href ng-click="getReports()">
											<fa name="refresh"></fa> Refrescar
										</a>
									</li>
									<li>
										<a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
											<fa name="expand"></fa> Pantalla completa
										</a>
									</li>

								</ul>

							</li>
							<li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<div class="tile-body">

						<button class="btn btn-default" ng-click="openModalNewEquipment()">Nuevo</button>

						<table ng-table="tableParams" show-filter="true" class="table table-custom">
							<tr ng-repeat="equipment in $data">
								<td data-title="'Número serie'" sortable="'serialNumber'" filter="{ 'serialNumber': 'text' }">
									{{equipment.serialNumber | capitalize:true}}
								</td>
								<td data-title="'Elemento conf'" sortable="'configurationElement'" filter="{ 'configurationElement': 'text' }">
									{{equipment.configurationElement | capitalize:true}}
								</td>
								<td data-title="'Id alternativo'" sortable="'alternativeId'" filter="{ 'alternativeId': 'text' }">
									{{equipment.alternativeId}}
								</td>
								<td data-title="'Modelo'" sortable="'equipmentModel'" filter="{ 'equipmentModel': 'text' }">
									{{equipment.equipmentModel}}
								</td>
								<td data-title="'Ubicación'" sortable="'location'" filter="{ 'location': 'text' }">
									{{equipment.location}}
								</td>
								<td data-title="'Dirección'" sortable="'address'" filter="{ 'address': 'text' }">
									{{equipment.address}}
								</td>
								<td data-title="'Ciudad'" sortable="'city'" filter="{ 'city': 'text' }">
									{{equipment.city}}
								</td>
								<td data-title="'Territorio'" sortable="'territory'" filter="{ 'territory': 'text' }">
									{{equipment.territory}}
								</td>
								<td data-title="'Clase'" sortable="'equipmentClass'" filter="{ 'equipmentClass': 'text' }">
									{{equipment.equipmentClass}}
								</td>
								<td data-title="'Cliente'" sortable="'client'" filter="{ 'client': 'text' }">
									{{equipment.client | capitalize:true}}
								</td>
								<!-- <td data-title="'Info'">
									<img ng-click="openModalEquipmentDetails(equipment.id)" src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/info.png" style="width:24px; cursor:pointer" tooltip="Más info">
								</td> -->
							</tr>
						</table>
						
						<div class="row">
							<div class="col-md-6" style="margin: 0 auto;float: none;">
								<pager prev="decrementPage()" next="incrementPage()" change-page="getEquipments(pagination.pages.current)" current="pagination.pages.current" total="pagination.pages.total"></pager>
							</div>
						</div>
						
					</div>
					<!-- /tile body -->

				</section>
				<!-- /tile -->

			</div>
			<!-- /col -->


		</div>
		<!-- /row -->


	</div>
	<!-- /page content -->

	<script type="text/ng-template" id="newEquipment.html">

		<div class="overlay br-30" ng-show="modal.overlay.show">
			<div style="position:absolute;top: 50%;left:50%;transform: translate(-50%, -50%);">
				<div>
					<p><strong>Subiendo el archivo...</strong></p>
					<p class="text-center">
					<img src="images/loader.gif" alt="loader" class="size-45x45">
					</p>
				</div>
			</div>
		</div>
		
		<div class="modal-header text-gray">
			<h3 class="text-center">Nuevo equipo</h3>
		</div>

		<div class="modal-body text-gray">
		<div class="alert alert-{{modal.alert.color}}" ng-show="modal.alert.show"> <h4 class="text-md"><strong>{{modal.alert.title}}</strong></h4> {{modal.alert.text}} </div>
		 
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center">Carga masiva (csv)</h4>
					<form name="form" novalidate>
						<input name="csvFile" type="file" class="form-control rounded" file-model="modal.csvFile" accept=".xls,.xlsx,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" ng-model="modal.csvFile" valid-file required>
					</form>
				</div>
			</div>
	
			<hr>

			<!-- <div class="row">
				<div class="col-md-12">
					<h4 class="text-center">Carga manual</h4>

					<form name="form" class="form-validation form-horizontal" role="form" novalidate>
						
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Numero de Serie</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="número de serie..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Elemento de configuración</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="Elemento de configuración..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">ID Alternativo</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="ID Alternativo..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Modelo</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="Modelo..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Ubicación</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="Ubicación..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Dirección</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="Dirección..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Ciudad</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="Ciudad..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Territorio</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="Territorio..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Clase</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="Clase..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userFirstName" class="col-sm-3 control-label">Cliente</label>
							<div class="col-md-8">
								<input type="text" id="userFirstName" class="form-control underline-input" placeholder="Cliente..." ng-model="user.firstName.text" ng-disabled="user.firstName.disabled" ng-change="hideAlert()" required>
							</div>
						</div>  
							
					</form>
				</div>
			</div> -->
		</div>
		<div class="modal-footer">
			<button class="btn btn-success br-20 pl-20 pr-20" type="submit" ng-click="saveEquipment()" ng-disabled="modal.btns.chargeSave.disabled || form.$invalid ">Cargar/Guardar</button>
			<button class="btn btn-default br-20 pl-20 pr-20" type="button" ng-click="cancel()" >Cerrar</button>
		</div>
	</script>

	<script type="text/ng-template" id="summary.html">

		<div class="modal-header text-gray">
			<h3 class="text-center">Resumen</h3>
		</div>

		<div class="modal-body">

			<ul>

				<li>
					<ng-pluralize count="modal.countCreated" when="{'0': 'No se ingresaron equipos nuevos','one': '{} equipo se ingresó','other': '{} equipos se ingresaron'}"></ng-pluralize>
				</li>
				<li>
					<ng-pluralize count="modal.countChanged" when="{'0': 'No se actualizó ningún equipo','one': '{} equipo se actualizó','other': '{} equipos se actualizaron'}"></ng-pluralize>
				</li>
				<li>
					<ng-pluralize count="modal.countErrors" when="{'0': 'Ningún equipo produjo error','one': '{} equipo NO se ingresó','other': '{} equipos NO se ingresaron'}"></ng-pluralize>
				</li>
			</ul>

			<div ng-show="modal.errors.length">

				<h4 class="text-center mb-20">Errores</h4>
				<ul ng-repeat="error in modal.errors">
					<li>
						<p>Error en la fila {{error.rowNumber}}</p>
						<p>Revise el campo <span ng-bind-html="error.field"></span></p>
					</li>
				</ul>
			</div>

		</div>

		<div class="modal-footer">
			<button class="btn btn-default btn-rounded-10 mb-10" type="button" ng-click="cancel()">Cerrar</button>
		</div>

	</script>

</div>
