<div class="page">
	<div class="pageheader">
		<h2>{{page.title}} <span></span></h2>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
		          <a ui-sref="{{main.url}}"> {{main.title}}</a>
		        </li>
				<li>
					<a href="javascript:;">Inspecciones</a>
				</li>
				<li>
					<a ui-sref="app.playStation.reports">{{page.title}}</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="pagecontent">
		<div class="row">
			<div class="col-md-12">
				<section class="tile" fullscreen="isFullscreen06">
					<div class="tile-body">
						<table ng-table="tableParams" show-filter="true" class="table table-custom">
							<thead>
								<tr>
									<th ng-repeat="column in columns2" class="text-center sortable" ng-click="sortBy(column.field_a)"> {{column.title}} </th>
									<th class="text-center"> PDF </th>
								</tr>
								<tr>
									<th ng-repeat="column in columns2" class="text-center sortable" >
										<input type="text" class="form-control" ng-model="filter[column.filter].filter"/>
									</th>
									<th class="text-center" ></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="report in $data | filter: filtro">
									<td ng-repeat="column in columns2">
										{{report[column.field_a]}}
									</td>
									<td>
										<input ng-if="report['pdfUploaded']" class="text-center" type="image" src="https://s3-sa-east-1.amazonaws.com/efinding/icons/PDF.png" uib-tooltip="Descargar PDF" tooltip-placement="bottom" style="width: 15px" data-pdf="{{report.pdf}}" ng-click="downloadPdf($event)"/>
										<input ng-if="!report['pdfUploaded']" class="text-center" type="image" src="http://dhg7r6mxe01qf.cloudfront.net/icons/admin/denied2.png" uib-tooltip="PDF no disponible" tooltip-placement="bottom" style="width: 20px;" data-pdf="{{report.pdf}}" />
									</td>
								</tr>
							</tbody>
						</table>
						<!--div class="row">
							<div class="col-md-6" style="margin: 0 auto;float: none;">
								<pager prev="decrementPage()" next="incrementPage()" change-page="getReports({success:true,detail:'OK'},pagination.pages.current)" current="pagination.pages.current" total="pagination.pages.total"></pager>
							</div>
						</div-->
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
